{% extends "frame.html" %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
    <div class="nav-margin">
        <h2>Developed by DumbSamurai, Inc.</h2>
        <ul>
            <li>DumbSamurai, Inc.</li>
            <ul>
                <li>Bledgasse 23</li>
                <li>1230 Wien</li>
                <li>AUSTRIA</li>
            </ul>

            <li>Email: admin@dumbsamurai.net</li>
            <li>Telephone: 0642 424242</li>
            <li>Web: www.dumbsamurai.net</li>
        </ul>
    </div>
{% endblock content %}